@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
.background-image{
  background-image: url(../src/assets/plantbg.jpg);
  background-size: cover;
  background-position: center; 
  margin: 0;

}
